

:root {
    --bg-start-gradient: hsl(214, 47%, 23%);
    --bg-end-gradient: hsl(237, 49%, 15%);
    --header-outline: hsl(217, 16%, 45%);
    --dark-text: hsl(229, 25%, 31%);
    --score-text: hsl(229, 64%, 46%);
}

* {
    margin: 0;
    padding : 0;
    box-sizing: border-box;
}

body {
    font-family: "Barlow Semi Condensed", sans-serif;
    color: white;
    background: radial-gradient(at top, var(--bg-start-gradient), var(--bg-end-gradient));
    min-height: 100dvh;
}

.title-container {
    display: flex;
    margin: 30px;
}

.title {
    margin: auto;
    width: 700px;
    padding: 20px 20px;
    display: flex;
    border: 2px solid var(--header-outline);
    border-radius: 20px;
    justify-content: space-between;
    align-items: center;
}

h1 {
    line-height: 25px;
    display: flex;
    flex-wrap: wrap;
    max-width: 30px;
    font-size: 2em;
}

.score-container {
    border-radius: 10px;
    background-color: white;
    padding: 2em;
}