:root {
    --bg-start-gradient: hsl(214, 47%, 23%);
    --bg-end-gradient: hsl(237, 49%, 15%);
    --header-outline: hsl(217, 16%, 45%);
    --dark-text: hsl(229, 25%, 31%);
    --score-text: hsl(229, 64%, 46%);
    --scissors-clr-start: hsl(39, 89%, 49%);
    --scissors-clr-end: hsl(40, 84%, 53%);
    --paper-clr-start: hsl(230, 89%, 62%);
    --paper-clr-end: hsl(230, 89%, 65%);
    --rock-clr-start: hsl(349, 71%, 52%);
    --rock-clr-end: hsl(349, 70%, 56%);
}

*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding : 0;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    font-style: italic;
    background-repeat: no-repeat;
    background-size: cover;
    shape-margin: 0.75rem;
}

input, button {
    font: inherit;
}

body {
    font-family: "Barlow Semi Condensed", sans-serif;
    color: white;
    background: radial-gradient(at top, var(--bg-start-gradient), var(--bg-end-gradient));
    min-height: 100svh;
}
.attribution { 
    font-size: 11px; 
    text-align: center;
}
.attribution a { color: hsl(228, 45%, 44%); }

.container{
    padding-top: 2rem;
    margin: 0 auto;
}
.header {
    margin: auto;
    max-width: 700px;
    min-height: 150px;
    padding: 1rem 1.4rem 1rem 2rem;
    display: flex;
    border: 2px solid var(--header-outline);
    border-radius: 1rem;
    justify-content: space-between;
    align-items: center;
    flex: 1;
}


.score-container {
    display: flex;
    flex-direction: column;
    border-radius: .5rem;
    background-color: white;
    padding: 1em 2.5em;
    align-items: center;
}

#score-title {
    font-weight: 600;
    color: var(--score-text);
}

#score {
    font-weight: 600;
    font-size: 3em;
    color: var(--dark-text);
}


.rps-container{
    margin: 4rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    background-image: url("../images/bg-triangle.svg");
    background-repeat: no-repeat;
    background-position: center;
}

.user-text,
.computer-text {
    display: none;
    justify-content: space-around;
    gap: 38.5rem;
    font-weight: 600;
    font-size: 1.5rem;
}



.buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: .8rem;
}

.top {
    display: flex;
    gap: 5rem;
}

#rock,
#scissors,
#paper {
    padding: 30px;
    border-radius: 50%;
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
}


#paper {
    background: radial-gradient(at center, var(--paper-clr-start), var(--paper-clr-end));
}
#scissors {
    background: radial-gradient(at center, var(--scissors-clr-start), var(--scissors-clr-end));
}
#rock {
    background: radial-gradient(at center, var(--rock-clr-start), var(--rock-clr-end));
}

/* dirty implementation but idc */
.game.img-paper#paper,
.game.img-scissors#scissors,
.game.img-rock#rock {
    background: white;
    min-width: 8rem;
    max-height: 8rem;
}


.results-container,
.user,
.computer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.results-container {
    margin-top: 4rem;
    gap: 10rem;
}
.user,
.computer {
    flex-direction: column;
}

.result {
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: .5rem;
}

#result-text {
    font-size: 4rem;
    font-weight: 600;
    text-align: center;
}

#play-again {
    padding: 10px 64px;
    color: var(--dark-text);
    border: 0;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 600;
}

#play-again:hover {
    color:red;
}